<a href="https://colab.research.google.com/github/PJibin/test_project2/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

김밥의 가격은? 5000
  dict_values([5000, 3000, 2000])

In [ ]:
# 사전의 구조와 이해

price = {'김밥': 5000, '어묵':3000, '떡볶이':2000}

# blank
print('김밥의 가격은?', price['김밥'])
# blank
price.values()

김밥의 가격은? 5000

dict_values([5000, 3000, 2000])

In [ ]:
# 리스트의 슬라이싱을 사용하여 아래를 출력하세요

tp = [1,2,3,4,5,6,7]

# blank
print(tp[0])
# blank
print(tp[:3])
# blank
print(tp[3:])
# blank
print(tp[6])
# blank
tp.sort(reverse = True)
print(tp)

1
[1, 2, 3]
[4, 5, 6, 7]
7
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 조건문
# 점수를 입력받아 등급을 출력하세요
# 등급표 81~100	A / 61~80	B / 41~60	C / 21~40	D / 0~20	E

score = int(input("점수를 입력하세요: "))

# complete the blanks
#
if score < 21:
  print('점수는',score,'점이며 등급은E등급입니다.')
elif score < 41 :
 print('점수는',score,'점이며 등급은D등급입니다.')
elif score < 61 :
 print('점수는',score,'점이며 등급은C등급입니다.')
elif score < 81 :
 print('점수는',score,'점이며 등급은B등급입니다.')
elif score < 101 :
 print('점수는',score,'점이며 등급은A등급입니다.')




#
######################

점수를 입력하세요: 67
점수는 67 점이며 등급은B등급입니다.

In [ ]:
# 함수를 만들고 두 수를 입력받아 연산하세요

a = int(input('첫 번째 정수를 입력하세요: '))
b = int(input('두 번째 정수를 입력하세요: '))

# complete the blanks
#
def add (a,b):
  add = a+ b
  return add

def multiply (a,b):
  multiply = a * b
  return multiply

def square (a,b):
  square = a**b
  return square

print('덧셈 함수 연산:',add(a,b))
print('곱셈 함수 연산:',multiply(a,b))
print('제곱 함수 연산:',square(a,b))


#
######################

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 5
덧셈 함수 연산: 8
곱셈 함수 연산: 15
제곱 함수 연산: 243

In [ ]:
5# 알고리즘 생성
# 피보나치 수열을 계산하는 함수를 생성하고 자연수 10을 넣어 실행하세요

# complete the blanks
#
def pivo(n) :
  if n <= 1:
    return n
  else:
    return pivo(n-1)+pivo(n-2)

#
######################

print(pivo(10))

55

In [ ]:
# 클래스
# 사람 (Human) 클래스를 정의하고 (이름, 나이, 성별)을 받는 생성자를 추가하세요.
class Human:
  def __init__(self):
   self.name = str(input('이름을 입력하세요: '))
   self.age = int(input('나이를 입력하세요: '))
   self.gender = str(input('성별을 입력하세요: '))

data = Human()
print(data.name)
print(data.age)
print(data.gender)

이름을 입력하세요: 박지빈
나이를 입력하세요: 25
성별을 입력하세요: 남
박지빈
25
남